# Python Lists

## Creating

In [0]:
# this is a python list
a = [42, 7, 13, 24601, 2001, 3.50]

In [3]:
# this is a list comprehension -- think of it as a sexy for loop

# the following gives us a list in which we multiplied each element in a by 2
z = [i * 2 for i in a]
z

[84, 14, 26, 49202, 4002, 7.0]

## Indexing

In [0]:
# you can index into it
a[0]

42

In [4]:
# what's the 3rd element?
a[2]

13

In [5]:
# indices can also be negative
# this gives you the last element
a[-1]

3.5

## Slicing

In [0]:
# you can also get subsets of the list with slicing
#     a[start:end]
# [start, end)

# this returns the 3rd and 4th entries (indices 2 and 3 -- note we exclude 4!)
a[2:4]

[13, 24601]

In [0]:
# if you leave one side blank, it automatically goes all the way
# first five:
a[:5]

[42, 7, 13, 24601, 2001]

In [7]:
# how do you get the last three elements?
a[-3:]

[24601, 2001, 3.5]

In [0]:
# slices can also skip numbers
# a[start:end:interval]

# this gives us every other number, starting with the first
a[::2]

[42, 13, 2001]

In [0]:
# the interval can also be negative
# what does that do?

a[::-2]

[3.5, 24601, 7]

# Numpy

In [0]:
import numpy as np

## Creating

In [10]:
# numpy arrays can be created from a python list
b = np.array(a)
b

array([4.2000e+01, 7.0000e+00, 1.3000e+01, 2.4601e+04, 2.0010e+03,
       3.5000e+00])

Right now, it looks an awful like a python list, but there are some key points you should know.

numpy arrays are:
- homogeneous (all elements in an array have the same type)
- multidimensional

In [0]:
# Homogeneous: all numpy arrays have an associated data type.
# numbers are usually ints or floats
b.dtype

dtype('float64')

In [12]:
# Multidimensional: numpy arrays can have multiple dimensions, like a nested list.
# We can reshape b into a 3x2 matrix
# Note: this doesn't change b. That's why we assign it to a new variable: m
m = b.reshape(3, 2)
m

array([[4.2000e+01, 7.0000e+00],
       [1.3000e+01, 2.4601e+04],
       [2.0010e+03, 3.5000e+00]])

In [17]:
# Each dimension is called an axis
# The size across each axis is called the shape
# These are two very important concepts!
m.shape

(3, 2)

## Indexing

In [0]:
# We index into numpy arrays much the same way as python lists.
b[0]

42.0

In [18]:
# But N-dimensional arrays mean we can be more expressive with indexing
# This gives us [0th index of axis 0, 1st index of axis 1]
# You can think of this as a grid
# Alternatively, this is like m[0][1]
m[0, 1]

7.0

In [0]:
# We can also pass in multiple indices as a list
# This gives us the 1st, 2nd, and 5th values of b
b[[0, 1, 4]]

array([  42.,    7., 2001.])

In [22]:
# Let's combine these two facts to get the 2nd and 3rd items in the second column of m
m[[1,2],1]

array([2.4601e+04, 3.5000e+00])

In [0]:
# We can also incorporate our previous knowledge of slices.
# So to get the second column
# This gives us the entire range on axis 0, and only the 1st index on axis 1
m[:,1]

array([7.0000e+00, 2.4601e+04, 3.5000e+00])

## Math

In [0]:
# numpy gives us a lot of math functions to work with
# I'll only show you a couple, but you can find them all in the documentation

np.sum(b)  # guess what this does?

26667.5

In [0]:
np.mean(b)  # and this?

4444.583333333333

In [0]:
# for convenience, you can also call
b.mean()

4444.583333333333

In [0]:
# you can also apply these functions to only one axis
# only sum across rows (read: apply the sum to axis 1)
np.sum(m, axis=1)

array([   49. , 24614. ,  2004.5])

In [0]:
# numpy has a concept called podcasting
# It tries to coerce non-matching shapes.
# 2 is a scalar, but we can still multiply m by it
# it just repeats the 2 across all instances of m
m * 2

array([[8.4000e+01, 1.4000e+01],
       [2.6000e+01, 4.9202e+04],
       [4.0020e+03, 7.0000e+00]])

# Pandas

In [0]:
import pandas as pd

## Creating

Pandas lets us read all sorts of data into a Dataframe. Think of this as a series of lists. Let's look at an example.

In [24]:
df = pd.read_csv("./cereal.csv")
type(df)

pandas.core.frame.DataFrame

In [25]:
# head() gives us the first 10 rows in the dataframe (pd.DataFrame)
df.head()

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843

[5 rows x 16 columns]

In [26]:
# you can think of each column as a list (or a 1D numpy array)
# in practice, these are called pandas Series (pd.Series)
# you can index into the dataframe with a string to get one column
df["name"]

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [0]:
type(df["name"])

pandas.core.series.Series

## Pandas Series vs Numpy Arrays

In [27]:
# There are many similarities between pd.Series and np.ndarray
# for example:
df["carbo"].mean()

14.597402597402597

In [28]:
# In fact, we can turn pd.Series into a numpy array
# again, this returns a numpy array -- df["carbo"] doesn't change.
df["carbo"].to_numpy()

array([ 5. ,  8. ,  7. ,  8. , 14. , 10.5, 11. , 18. , 15. , 13. , 12. ,
       17. , 13. , 13. , 12. , 22. , 21. , 13. , 12. , 10. , 21. , 21. ,
       11. , 18. , 11. , 14. , 14. , 12. , 14. , 13. , 11. , 15. , 15. ,
       17. , 13. , 12. , 11.5, 14. , 17. , 20. , 21. , 12. , 12. , 16. ,
       16. , 16. , 17. , 15. , 15. , 21. , 18. , 13.5, 11. , 20. , 13. ,
       10. , 14. , -1. , 14. , 10.5, 15. , 23. , 22. , 16. , 19. , 20. ,
        9. , 16. , 15. , 21. , 15. , 16. , 21. , 13. , 17. , 17. , 16. ])

In [0]:
# The key difference is that Series are indexed
# See the 0, 1, ... 76 on the left? That is the index of each item.
# Right now they are just positions, but theoretically they can be any unique identifier for the row
# Think: ID, username, etc
df["carbo"].index

RangeIndex(start=0, stop=77, step=1)

## Indexing into DataFrames and Series

In [0]:
# Indexing is a little bit different in pandas.
# One parallel to what you've been used to is .loc[]
# this is the row at index 0
df.loc[0]

name        100% Bran
mfr                 N
type                C
calories           70
protein             4
fat                 1
sodium            130
fiber              10
carbo               5
sugars              6
potass            280
vitamins           25
shelf               3
weight              1
cups             0.33
rating         68.403
Name: 0, dtype: object

In [0]:
# multiple indices work
df.loc[[1, 2, 3]]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912

In [0]:
# caveat: remember that pandas doesn't require zero-indexing. indices can be anything.
# this means slicing might not work all the time (what would df.loc["asdf":"hjkl"] even mean?)
# in the cases that you actually want to index by row number, you can always do that with .iloc[]
# again, this will behave the same as .loc[] with our dataset because our data is 0-indexed
df.iloc[0]

name        100% Bran
mfr                 N
type                C
calories           70
protein             4
fat                 1
sodium            130
fiber              10
carbo               5
sugars              6
potass            280
vitamins           25
shelf               3
weight              1
cups             0.33
rating         68.403
Name: 0, dtype: object

In [0]:
# We can also use boolean indexing by passing a list of booleans like so:
df[[True] + [False] * 76]
# Let me explain:
# - [True] + [False] * 76 gives us a list that looks like [True, False, ..., False] with 1 True and 76 Falses
# - This matches the number of rows in our data (77)
# - pandas returns all the rows with a corresponding True (in this case, only the first one)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973

In [0]:
# This is powerful because we can also make comparisons with Series and values.
df["protein"] > 3

0      True
1     False
2      True
3      True
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: protein, Length: 77, dtype: bool

In [0]:
# Combining these two things, we have a very expressive way of filtering.
# This gives us all the rows in which the protein is greater than 3.
df[df["protein"] > 3]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
41,Life,Q,C,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.00,54.850917
44,Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,25,3,1.0,1.00,37.136863
45,Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,25,3,1.0,1.00,34.139765
56,Quaker Oat Squares,Q,C,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874
57,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392
67,Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324

## Manipulating Series

Often when we're preprocessing data, we want to make uniform changes to a specific column. We can do this by applying functions.

In [0]:
# Suppose we want to make the cereals more appetizing.
# Let's add "Delicious " to the beginning of every name.

# The pattern is we define a function for a single entry
def make_delicious(name):
    return "Delicious " + name

# and then call apply on the series to apply the function to each element in the series
df["name"].apply(make_delicious)

0                     Delicious 100% Bran
1             Delicious 100% Natural Bran
2                      Delicious All-Bran
3     Delicious All-Bran with Extra Fiber
4                Delicious Almond Delight
                     ...
72                      Delicious Triples
73                         Delicious Trix
74                   Delicious Wheat Chex
75                     Delicious Wheaties
76          Delicious Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [0]:
# this returns the changes, but doesn't apply them in place.
# that means on our original dataframe, the cereals are still bland
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [0]:
# we can fix this by assigning the new names to the column.
df["name"] = df["name"].apply(make_delicious)
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,Delicious Delicious 100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,Delicious Delicious 100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,Delicious Delicious All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,Delicious Delicious All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Delicious Delicious Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [32]:
# here's another example.
# Jackson is a skeptic and doesn't believe calling things "Delicious" makes them taste better.
# But he does think adding sugar will make them taste better.
# How can we add 10 grams of sugar to every cereal?
df["sugars"] = df["sugars"] + 10
df.head()

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843

[5 rows x 16 columns]

## Groups and Aggregates

When we have lots and lots of data, it's more useful to look at aggregate statistics like the mean or median. But sometimes we lose too much detail aggregating across the whole dataset.

The solution is to aggregate across groups. For example, maybe we're less interested in the mean calorie count of all cereals and more interested in the mean for each manufacturer.

In [0]:
# First, we can see how many (and which) unique manufacturers there are
# Note: this gives us a numpy array
df["mfr"].unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

In [34]:
# Now let's group by the manufacturers
# This gives us a groupby object across the dataframe
mfrs = df.groupby("mfr")
mfrs

In [36]:
# what happens if we try to access the calories column?
mfrs["calories"]

In [35]:
# now let's try to get the mean
mfrs["calories"].mean()

mfr
A    100.000000
G    111.363636
K    108.695652
N     86.666667
P    108.888889
Q     95.000000
R    115.000000
Name: calories, dtype: float64

In [0]:
# we can also aggregate across multiple columns, and even use different aggregations
# let's get the average calorie count but the maximum protein
mfrs[["calories", "protein"]].agg({"calories": "mean", "protein": "max"})

       calories  protein
mfr
A    100.000000        4
G    111.363636        6
K    108.695652        6
N     86.666667        4
P    108.888889        3
Q     95.000000        5
R    115.000000        4

# Exercises

Unless otherwise noted, these should be one line of code.

In [63]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

# get a list containing the last 3 elements of a
a[-3:]

# reverse the list
a.reverse

# get a list where each entry in a is cubed (so the new list is [1, 4, 9, 16, 25, 36])
[i*i for i in a]

[1, 4, 9, 16, 25, 36]

In [0]:
# create a numpy array from this list
b = np.array(a) # change this

In [44]:
# find the mean of b
b.mean()

3.5

In [0]:
# change b from a length-6 list to a 2x3 matrix
b = b.reshape(2,3)

In [56]:
# find the mean value of each row
b.mean(axis=1)

array([5., 2.])

In [57]:
# find the mean value of each column
b.mean(axis=0)

array([4.5, 3.5, 2.5])

In [59]:
# find the third column of b
b[:,2]

array([4, 1])

In [64]:
# get a list where each entry in b is cubed (so the new numpy array is [1, 4, 9, 16, 25, 36])
# use a different (numpy-specific) approach
b*b

array([[36, 25, 16],
       [ 9,  4,  1]])

In [0]:
# load in the "starbucks.csv" dataset
sb = pd.read_csv("./starbucks.csv")

In [68]:
# this is nutritional info for starbucks items
# let's see if we can answer some questions

# what is the average # calories across all items?
sb["Calories"].mean()

193.87190082644628

In [71]:
# how many different categories of beverages are there?
sb["Beverage_category"].nunique()

9

In [79]:
# what is the average # calories for each beverage category?
sb.groupby("Beverage_category").mean()["Calories"]

Beverage_category
Classic Espresso Drinks              140.172414
Coffee                                 4.250000
Frappuccino Blended Coffee          276.944444
Frappuccino Blended Crme           233.076923
Frappuccino Light Blended Coffee    162.500000
Shaken Iced Beverages                114.444444
Signature Espresso Drinks            250.000000
Smoothies                            282.222222
Tazo Tea Drinks                     177.307692
Name: Calories, dtype: float64

In [109]:
# what beverage preparation includes the most sugar?
sb["Beverage_prep"][sb['Sugars (g)'] == sb['Sugars (g)'].max()]

214    Venti Nonfat Milk
215           Whole Milk
Name: Beverage_prep, dtype: object

In [134]:
# what is the average % daily value calcium content for each beverage?
# HINT: make sure your columns have the datatypes you want
# (you can use more than one line for this one)
def p2f(x):
    return float(x.strip('%'))/100
sb['Calcium (% DV) '] = sb['Calcium (% DV) '].apply(p2f)
sb.groupby("Beverage").mean()['Calcium (% DV) ']

Beverage
Banana Chocolate Smoothie                              0.200000
Brewed Coffee                                          0.005000
Caff Americano                                        0.015000
Caff Latte                                            0.350000
Caff Mocha (Without Whipped Cream)                    0.300000
Cappuccino                                             0.225000
Caramel                                                0.110000
Caramel (Without Whipped Cream)                        0.120000
Caramel Apple Spice (Without Whipped Cream)            0.000000
Caramel Macchiato                                      0.283333
Coffee                                                 0.123333
Espresso                                               0.000000
Hot Chocolate (Without Whipped Cream)                  0.350000
Iced Brewed Coffee (With Classic Syrup)                0.000000
Iced Brewed Coffee (With Milk & Classic Syrup)         0.080000
Java Chip                                              0.116667
Java Chip (Without Whipped Cream)                      0.125556
Mocha                                                  0.110000
Mocha (Without Whipped Cream)                          0.120000
Orange Mango Banana Smoothie                           0.100000
Shaken Iced Tazo Tea (With Classic Syrup)             0.000000
Shaken Iced Tazo Tea Lemonade (With Classic Syrup)    0.000000
Skinny Latte (Any Flavour)                             0.337500
Strawberries & Crme (Without Whipped Cream)           0.150000
Strawberry Banana Smoothie                             0.100000
Tazo Chai Tea Latte                                   0.216667
Tazo Full-Leaf Red Tea Latte (Vanilla Rooibos)        0.208333
Tazo Full-Leaf Tea Latte                              0.208333
Tazo Green Tea Latte                                  0.391667
Tazo Tea                                              0.000000
Vanilla Bean (Without Whipped Cream)                   0.112500
Vanilla Latte (Or Other Flavoured Latte)               0.329167
White Chocolate Mocha (Without Whipped Cream)          0.412500
Name: Calcium (% DV) , dtype: float64

In [ ]:
# It's bulking season. What drink should Jackson get so that he maximizes protein but minimizes fat?
# (you can use more than one line for this one)
bevs = sb.groupby("Beverage")
bevs[["Protein (g) ", "Total Fat (g)"]].agg({"Protein (g) ": "max", "Total Fat (g)": "min"}).sort_values(by=["Protein (g) ", "Total Fat (g)"], ascending = [False, True])

                                                    Protein (g)   Total Fat (g)
Beverage
Banana Chocolate Smoothie                                   20.0            2.5
White Chocolate Mocha (Without Whipped Cream)               19.0            3.0
Tazo Green Tea Latte                                       18.0            0.2
Hot Chocolate (Without Whipped Cream)                       18.0            1.5
Caff Mocha (Without Whipped Cream)                         17.0            1.5
Caff Latte                                                 16.0            0.1
Orange Mango Banana Smoothie                                16.0            1.0
Strawberry Banana Smoothie                                  16.0            1.0
Skinny Latte (Any Flavour)                                  15.0            0.1
Vanilla Latte (Or Other Flavoured Latte)                    15.0            0.1
Caramel Macchiato                                           13.0            1.0
Cappuccino                                                  10.0            0.1
Tazo Chai Tea Latte                                        10.0            0.1
Tazo Full-Leaf Red Tea Latte (Vanilla Rooibos)              9.0            0.1
Tazo Full-Leaf Tea Latte                                    9.0            0.1
Mocha (Without Whipped Cream)                                7.0            0.5
Java Chip                                                    7.0            3.0
Java Chip (Without Whipped Cream)                            7.0            3.0
Coffee                                                       6.0            0.1
Strawberries & Crme (Without Whipped Cream)                 6.0            0.1
Mocha                                                        6.0            0.5
Caramel                                                      5.0            0.1
Caramel (Without Whipped Cream)                              5.0            0.1
Vanilla Bean (Without Whipped Cream)                         5.0            0.1
Iced Brewed Coffee (With Milk & Classic Syrup)               4.0            0.1
Caff Americano                                              1.0            0.0
Espresso                                                     1.0            0.0
Brewed Coffee                                                1.0            0.1
Iced Brewed Coffee (With Classic Syrup)                      0.4            0.0
Shaken Iced Tazo Tea Lemonade (With Classic Sy...           0.1            0.0
Caramel Apple Spice (Without Whipped Cream)                  0.0            0.0
Shaken Iced Tazo Tea (With Classic Syrup)                   0.0            0.0
Tazo Tea                                                    0.0            0.0